p{
	font-family: monospace;
	margin: 1.66%;
	font-weight: 800;
	font-size: 30px;
	text-transform: uppercase;
	border-bottom: 3px solid grey;
	padding-bottom: 10px;
	width: 30%;
}
img{
	width: 30%;
	float: left;
	height: 350px;
	margin: 1.66%;
}